@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.footerSVG {
  background: #fefbf2;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #fdd443;
  border: none;
  cursor: pointer;
  color: white;
  height: 2rem;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  width: 3.2rem;
}

li a {
  text-decoration: none;
  color: #fea28b;
}

@media (max-width: 499px) {
  #about {
    padding-top: 8rem;
  }
}
@media (max-width: 600px) {
  .smallestScreen {
    padding-top: 7rem;
  }

  .grid {
    padding-top: 0;
    transform: translateX(1.3rem);
  }

  .grid div h1 {
    text-align: center;
  }

  .grid div a {
    height: 2px;
    display: none;
  }

  .hero {
    padding-left: 0;
  }
}

@media (max-width: 430px) {
  .smallestScreen {
    transform: translateX(-0.4rem);
    padding-top: 7rem;
  }
  .grid {
    padding-top: 0;
  }

  .grid-case {
    width: 300px;
  }

  .case-grid {
    width: 300px;
    padding-left: 2.5rem;
  }
  .hero {
    padding-left: 1.5rem;
  }
}

@media (max-width: 602px) {
  .grid-case {
    max-width: 400px;
  }

  .case-grid {
    margin-bottom: 5rem;
    max-width: 400px;

    padding-left: 5rem;
  }
}

@media (min-width: 454px) and (max-width: 520px) {
  .grid-case {
    max-width: 350px;
  }

  .case-grid {
    margin-bottom: 5rem;
    max-width: 350px;

    padding-right: 3rem;
  }
}

@media (min-width: 405px) and (max-width: 453px) {
  .grid-case {
    max-width: 250px;
    margin-right: 3rem;
  }

  .case-grid {
    margin-bottom: 5rem;
    max-width: 300px;

    margin-right: 3rem;
  }
}

@media (max-width: 400px) {
  .smallestScreen {
    padding-top: 7rem;
  }

  .grid {
    transform: translateX(-0.4rem);
    padding-top: 0;
  }

  .grid-case {
    max-width: 15rem;
  }

  .case-grid {
    margin-bottom: 5rem;
    max-width: 15rem;
  }

  .grid div p {
    padding-left: 1rem;
  }

  .hero {
    padding-left: 0;
    max-width: fit-content;
  }
}

@media (min-width: 800px) and (max-width: 1023px) {
  .navBar {
    top: 5%;
    right: 22%;
  }
}

@media (min-width: 300px) and (max-width: 363px) {
  .grid-case {
    max-width: 200px;
    margin-right: 3rem;
  }

  .case-text {
    font-size: x-large;
  }
  .case-grid {
    margin-bottom: 5rem;
    max-width: 300px;

    margin-right: 3rem;
  }
}

@media (max-width: 300px) {
  .grid-case {
    max-width: 190px;
  }
  .case-text {
    font-size: larger;
  }
  .case-grid {
    margin-bottom: 5rem;
    max-width: 190px;
  }
}
