.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.contact,
.projects,
.skills {
  text-align: center;
}

.label {
  margin-top: 10px;
}

#firstName,
#email,
#subject,
#message {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.btn {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}

.formulaire {
  background-color: #3498db;
  margin: 0 auto;
}
