.HTML {
  position: relative;
  overflow: hidden;
  transition: background-color 0.5s ease;
}

.HTML:hover {
  background-color: #fea28b;
}

.HTML svg {
  fill: white;
}

.HTML:hover svg {
  fill: #fea28b;
}

.HTML::after {
  content: "HTML5";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #fea28b;
  color: white;
  padding: 0.5rem;
  transform: translateY(100%);
  transition: transform 0.5s ease;
}

.HTML:hover::after {
  transform: translateY(0);
}

.CSS {
  position: relative;
  overflow: hidden;
  transition: background-color 0.5s ease;
}

.CSS:hover {
  background-color: #fea28b;
}

.CSS svg {
  fill: white;
}

.CSS:hover svg {
  fill: #fea28b;
}

.CSS::after {
  content: "CSS3";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #fea28b;
  color: white;
  padding: 0.5rem;
  transform: translateY(100%);
  transition: transform 0.5s ease;
}

.CSS:hover::after {
  transform: translateY(0);
}

.Javascript {
  position: relative;
  overflow: hidden;
  transition: background-color 0.5s ease;
}

.Javascript:hover {
  background-color: #fea28b;
}

.Javascript svg {
  fill: white;
}

.Javascript:hover svg {
  fill: #fea28b;
}

.Javascript::after {
  content: "JavaScript";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #fea28b;
  color: white;
  padding: 0.5rem;
  transform: translateY(100%);
  transition: transform 0.5s ease;
}

.Javascript:hover::after {
  transform: translateY(0);
}

.Git {
  position: relative;
  overflow: hidden;
  transition: background-color 0.5s ease;
}

.Git:hover {
  background-color: #fea28b;
}

.Git svg {
  fill: white;
}

.Git:hover svg {
  fill: #fea28b;
}

.Git::after {
  content: "Git";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #fea28b;
  color: white;
  padding: 0.5rem;
  transform: translateY(100%);
  transition: transform 0.5s ease;
}

.Git:hover::after {
  transform: translateY(0);
}

.Bootstrap {
  position: relative;
  overflow: hidden;
  transition: background-color 0.5s ease;
}

.Bootstrap:hover {
  background-color: #fea28b;
}

.Bootstrap svg {
  fill: white;
}

.Bootstrap:hover svg {
  fill: #fea28b;
}

.Bootstrap::after {
  content: "Bootstrap";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #fea28b;
  color: white;
  padding: 0.5rem;
  transform: translateY(100%);
  transition: transform 0.5s ease;
}

.Bootstrap:hover::after {
  transform: translateY(0);
}

.NextJS {
  position: relative;
  overflow: hidden;
  transition: background-color 0.5s ease;
}

.NextJS:hover {
  background-color: #fea28b;
}

.NextJS svg {
  fill: white;
}

.NextJS:hover svg {
  fill: #fea28b;
}

.NextJS::after {
  content: "Next.JS";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #fea28b;
  color: white;
  padding: 0.5rem;
  transform: translateY(100%);
  transition: transform 0.5s ease;
}

.NextJS:hover::after {
  transform: translateY(0);
}

.Tailwinds {
  position: relative;
  overflow: hidden;
  transition: background-color 0.5s ease;
}

.Tailwinds:hover {
  background-color: #fea28b;
}

.Tailwinds svg {
  fill: white;
}

.Tailwinds:hover svg {
  fill: #fea28b;
}

.Tailwinds::after {
  content: "Tailwinds";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #fea28b;
  color: white;
  padding: 0.5rem;
  transform: translateY(100%);
  transition: transform 0.5s ease;
}

.Tailwinds:hover::after {
  transform: translateY(0);
}

.Firebase {
  position: relative;
  overflow: hidden;
  transition: background-color 0.5s ease;
}

.Firebase:hover {
  background-color: #fea28b;
}

.Firebase svg {
  fill: white;
}

.Firebase:hover svg {
  fill: #fea28b;
}

.Firebase::after {
  content: "Firebase";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #fea28b;
  color: white;
  padding: 0.5rem;
  transform: translateY(100%);
  transition: transform 0.5s ease;
}

.Firebase:hover::after {
  transform: translateY(0);
}

.GitHub {
  position: relative;
  overflow: hidden;
  transition: background-color 0.5s ease;
}

.GitHub:hover {
  background-color: #fea28b;
}

.GitHub svg {
  fill: white;
}

.GitHub:hover svg {
  fill: #fea28b;
}

.GitHub::after {
  content: "GitHub";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #fea28b;
  color: white;
  padding: 0.5rem;
  transform: translateY(100%);
  transition: transform 0.5s ease;
}

.GitHub:hover::after {
  transform: translateY(0);
}
