.container {
  margin-right: 150px;
  background-color: #1572b6;
}

.hexagonContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0;
  padding-bottom: calc(60 / 1.73 /* sqrt(3) */);
}

@media (min-width: 1200px) {
  .hexagonContainer {
    transform: translateX(0px);
  }

  .hexagon:nth-child(8n + 5),
  .hexagon:nth-child(8n + 6),
  .hexagon:nth-child(8n + 7),
  .hexagon:nth-child(8n + 8) {
    margin-left: 115px;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  .hexagonContainer {
    transform: translateX(5rem);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0;
  }

  .hexagon:nth-child(8n + 3),
  .hexagon:nth-child(8n + 4),
  .hexagon:nth-child(8n + 7),
  .hexagon:nth-child(8n + 8) {
    margin-left: 175px;
  }
}

.hexagon {
  align-items: center;
  background-color: #d4a9a6;
  cursor: pointer;
  display: flex;
  fill: white;
  height: 95px;
  justify-content: center;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  position: relative;
  transition: all 0.2s ease;
  width: 100px;
}

.hexagon:hover {
  background-color: #ae5770;
}

.null {
  cursor: default;
}
.null:hover {
  background-color: #d4a9a6;
}
.hexagon > svg {
  height: 75%;
  transition: var(--hex-transition);
}
